body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--brand-color);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
}
:root {
    --brand-color: #212121;
    --popular-color: #757575;
    --white-color: #ffffff;
    --blue-color: #2196F3;
    --background-gray: #2F303A;
    --gray: #F5F4FA;
    --ligt-gray: rgba(255, 255, 255, 0.6);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.hover-background:hover, .hover-background:focus {
    background-color: var(--blue-color);
    color: var(--white-color);
}
.hover-color:hover, .hover-color:focus {
    color: var(--blue-color);
}
a.currentLink {
    color: var(--blue-color);
 }
.location {
    display: flex;
    align-items: center;
 }
.container {
    width: 1170px;
    padding-left: 215px;
    padding-right: 215px;
 }

.header {
    min-height: 80px;
    justify-content: space-between;
 }
.logotype-studio {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 31px;
    color: var(--blue-color);
    margin-right: 94px;
}
.logotype-span-black {
    color: #000000;
}
.logotype-span-white {
    color: var(--white-color);
}
.nav-link {
    font-weight: 500;
    color: var(--brand-color);
}
.nav-portfolio {
    margin-left: 50px;
    margin-right: 50px;
}
.header-email {
    font-weight: 500;
    color: var(--popular-color);
}
.header-tel {
    font-weight: 500;
    color: var(--popular-color);
    margin-left: 50px;
}

.hero {
    padding-top: 200px;
    min-height: 400px;
    background: var(--background-gray);
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: var(--white-color);
    text-transform: uppercase;
}
.hero-btn {
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 32px;
    color: var(--white-color);
    background: var(--blue-color);
    margin-top: 30px;
}

.feature-list {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-item {
    width: 270px;
    margin-right: 30px; 
}
.features-item-right {
    width: 270px;
}
.features-item-title {
    font-weight: bold;
    text-transform: uppercase;
}
.features-item-content {
    margin-top: 10px;
    line-height: 24px;
    color: var(--popular-color);
}

.work {
    text-align: center;
    padding-bottom: 94px;
}
.work-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
}
.work-item {
    margin-left: 30px;
    margin-right: 30px;
}

.team {
    background: var(--gray);
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}
.team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
}
.team-item {
    background-color: var(--white-color);
    padding-bottom: 30px;
    margin-right: 30px;
}
.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-item-content {
    font-size: 16px;
    line-height: 19px;
    color: var(--popular-color);
}

.footer {
    background: var(--background-gray);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-address {
    margin-top: 20px;
}
.footer-location {
    line-height: 24px;
    color: var(--white-color);
}
.footer-link, .footer-link-item {
    margin-top: 9px;
}
.footer-item {
    line-height: 24px;
    color: var(--ligt-gray);
}

.hr {
    color: #ECECEC;
}
.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}
.project-filter {
    justify-content: center;
}
.filter-item {
    margin-right: 8px;
}
.filter-btn {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--brand-color);
    background-color: var(--gray);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
}
.filter-btn:hover, .filter-btn:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
}
.project-list {
    flex-flow: row wrap;
    margin-top: 50px;
}
.project-item:nth-child(2), 
.project-item:nth-child(5),
.project-item:nth-child(8) {
    margin-left: 30px;
    margin-right: 30px;
}
.project-item:nth-child(4), 
.project-item:nth-child(5),
.project-item:nth-child(6) {
    margin-top: 30px;
    margin-bottom: 30px;
}
.project-item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
}
.project-item-content {
    font-size: 16px;
    line-height: 30px;
    color: var(--popular-color);
}